.navbar,.navbar-dark{
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.navbar-dark{
  background-color: #000000;
}
.navbar-left-links{
  grid-column: 2 / 4;
  grid-row: 1 / 1;
  justify-self: start;
  align-self: center;
}
.navbar-center-links{
  grid-column: 2 / 5;
  grid-row: 1 / 1;
  justify-self: center;
  align-self: center;
}
.navbar-right-links{
  grid-column: 3 / 5;
  grid-row: 1/1;
  justify-self: end;
  align-self: center;
}
.profile-button{
  transition: background-color .2s, box-shadow .2s;
  height: 42.4px;
  padding-right: 12px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 200px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, .04), 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.profile-button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  cursor: pointer;
}
  
.profile-button:active {
    background-color: #eeeeee;
}
  
.profile-button:focus {
  box-shadow: 
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}
.profile-pic{
  border-radius: 50%;
  height: 30px;
  padding-right: 4px;
  justify-self: center;
  align-self: center;
  grid-column: 1 / 2;
}
.profile-pic-container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1 /1;
}
.display-name{
  justify-self: center;
  align-self: center;
  grid-column: 2 / 3;
  padding-bottom: 4px;
}
.burger{
  grid-column: 3 / 4;
  justify-self: center;
  align-self: center;
}
.profile-pic-child-container{
  transition: background-color .2s, box-shadow .2s;
  position: absolute;
  padding: 12px;
  width: 175px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, .04), 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-color: white;
}
.google-login{
  transition: background-color .2s, box-shadow .2s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, .04), 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.google-login:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  cursor: pointer;
}
  
.google-login:active {
    background-color: #eeeeee;
}
  
.google-login:focus {
  box-shadow: 
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.navbar-links{
  margin-right: 20px;
}
.navbar-link-text{
  text-decoration: none;
  font-weight: bold;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  background-color:#e4f1ff;
  height: calc(100vh - 100px);
}
.grid-sub-container{
  grid-column: 2/5;
  text-align: center;
}